.navbar{
  background-color: yellow;
  border-radius: 15px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-left: 200px;
}
.navbar div{
  display: inline-block;
  padding: 15px;
  color: red;
  font-size: 24px;
  /* align-items: center; */
}
.buttonCase{

} 

button{
  padding: 10px 20px;
  color: white;
  background-color: red;
  font-weight: bolder;
  font-size: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}
button:hover{
  background-color: brown;
  color: black;
}
.sideNavBar{
  /* position: fixed; */
  margin-top: 30px;
  background-color: gray;
  width: 100px;
  height: 500px;
  border-radius: 25px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sideNavBar div{
  display: flex;
  flex-direction: column;
  align-items: center;

}

img{
cursor: pointer;
}
#mainSidebar{
  display: flex;
}
.mainDiv{
  display: inline-block;
  background-color: green;
  height: 500px;
  width: 1000px;
  margin-top: 30px;
  margin-left: 100px;
  border-radius: 20px;
}