.mainDiv{
  background-color: green;
  height: 700px;
  width: 963px;
  margin-top: 120px;
  margin-left: 200px;
  padding: 20px 20px 0 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 50px;
}
.gridboxes{
  background-color: gray;
  height: 450px;
  /* width: 100%; */
  padding-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  
}
.imgDiv img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.profile-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  position: relative;

}
.profile-info img{
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
.profile-info p{
  margin-left: 10px;
  font-size: 18px;
  font-weight: bolder;
  width: 150px;
}
.profile-info div{
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 70px;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  bottom: -1px;
}
.form{
  margin-top: 20px;
  position: relative;
}
.form input{
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  border-style: solid;
  margin-left: 10px;
}
.form input::placeholder{
  font-size: 10px;
  color: black;
}

.form button{
  position: absolute;
  right: 20px;
  top: 0;
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 20px 2px;

}